<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Map</div>
            <div class="map panel-body">
                <div id="sigma-canvas"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Bouy</div>
            <div class="functions panel-body">
                <form class="form-horizontal" role="form">
                    <div class="offset-md-1 col-md-12">
                        <div class="form-group input-group">
                            <input id="bouy-name" type="text" class="form-control"
                                placeholder="Name of the bouy"
                                tabindex="1"
                                ng-model="map.active.bouy.name">
                            <label for="bouy-name" class="input-group-addon">name</label>
                        </div>
                        <div class="form-group input-group">
                            <input id="bouy-latitude" type="text" class="form-control"
                                tabindex="2"
                                placeholder="Latitude of the bouy"
                                ng-model="map.active.bouy.location.x">
                            <label for="bouy-latitude" class="input-group-addon">latitude</label>
                        </div>
                        <div class="form-group input-group">
                            <input id="bouy-longitude" type="text" class="form-control"
                                tabindex="3"
                                placeholder="Longitude of the bouy"
                                ng-model="map.active.bouy.location.y">
                            <label for="bouy-longitude" class="input-group-addon">longitude</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="map.onAddBouyPressed()" ng-show="map.isAddingNode()">
                        <!--i class="glyphicon glyphicon-plus icon-white icon-large"></i-->
                        Save
                    </button>
                    <button type="submit" class="btn btn-primary" ng-click="map.onEditBouyPressed()" ng-show="map.isExistingNode()">
                        <!--i class="glyphicon glyphicon-pencil icon-white icon-large"></i-->
                        Save
                    </button>
                    <button type="submit" class="btn btn-primary" ng-click="map.onDeselectBouyPressed()" ng-show="map.isExistingNode()">
                        <!--i class="glyphicon glyphicon-ban-circle icon-white icon-large"></i-->
                        Deselect
                    </button>
                    <button type="submit" class="btn btn-danger" ng-click="map.onDeleteBouyPressed()" ng-show="map.isExistingNode()">
                        <!--i class="glyphicon-trash icon-white icon-large"></i-->
                        Delete
                    </button>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Leg</div>
            <div class="functions panel-body">
                    <div class="offset-md-1 col-md-12">
                        <div class="form-group input-group">
                            <input readonly id="bouy-name" type="text" class="form-control"
                                placeholder="Select a bouy"
                                ng-model="map.active.leg.start.name">
                            <label for="bouy-name" class="input-group-addon">Start Bouy</label>
                        </div>
                        <div class="form-group input-group">
                            <input readonly id="bouy-name" type="text" class="form-control"
                                placeholder="Select a bouy"
                                ng-model="map.active.leg.end.name">
                            <label for="bouy-name" class="input-group-addon">End Bouy</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="map.onAddSingleLegPressed()">
                        <!--i class="glyphicon glyphicon-arrow-right icon-white icon-large"></i-->
                        One way
                    </button>
                    <button type="submit" class="btn btn-primary" ng-click="map.onAddDuplexLegPressed()">
                        <!--i class="glyphicon glyphicon-resize-horizontal icon-white icon-large"></i-->
                        Two way
                    </button>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Path</div>
            <div class="functions panel-body">
                    <div class="offset-md-1 col-md-12">
                        <div class="form-group input-group">
                            <input readonly id="bouy-name" type="text" class="form-control"
                                placeholder="Select a bouy"
                                ng-model="map.active.leg.start.name">
                            <label for="bouy-name" class="input-group-addon">Start Bouy</label>
                        </div>
                        <div class="form-group input-group">
                            <input readonly id="bouy-name" type="text" class="form-control"
                                placeholder="Select a bouy"
                                ng-model="map.active.leg.end.name">
                            <label for="bouy-name" class="input-group-addon">End Bouy</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="map.onRandomPathPressed()">
                        <!--i class="glyphicon glyphicon-resize-horizontal icon-white icon-large"></i-->
                        Random
                    </button>
                    <button type="submit" class="btn btn-warning" ng-click="map.onClearPathPressed()">
                        <!--i class="glyphicon glyphicon-resize-horizontal icon-white icon-large"></i-->
                        Clear
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>