<div class="row">
    <div class="col-md-12">
        <div class="planner panel panel-default">
            <div class="panel-heading">Race planner
                <select
                    ng-show="planner.ships && planner.ships.length"
                    ng-model="planner.ship"
                    ng-options="s.name for s in planner.ships">
                </select>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <form class="form-horizontal" role="form">
                            <div class="col-md-2">
                                <div class="form-group input-group">
                                    <input id="race-time" type="text" class="form-control"
                                        placeholder="hours"
                                        ng-model="planner.raceTime"
                                        ng-change="planner.onRaceTimeChanged()">
                                    <label for="race-time" class="input-group-addon">Race time</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group input-group">
                                    <input id="wind-direction" type="text" class="form-control"
                                        placeholder="degrees"
                                        ng-model="planner.windAngle"
                                        ng-change="planner.onWindChanged()">
                                    <label for="wind-direction" class="input-group-addon">Wind direction</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group input-group">
                                    <input id="wind-speed" type="text" class="form-control"
                                        placeholder="knopen"
                                        ng-model="planner.windKnots"
                                        ng-change="planner.onWindChanged()">
                                    <label for="wind-speed" class="input-group-addon">Wind speed</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group input-group">
                                    <input readonly id="bouy-name" type="text" class="form-control"
                                        placeholder="Select a bouy"
                                        ng-model="planner.active.leg.start.name">
                                    <label for="bouy-name" class="input-group-addon">Start Bouy</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group input-group">
                                    <input readonly id="bouy-name" type="text" class="form-control"
                                        placeholder="Select a bouy"
                                        ng-model="planner.active.leg.end.name">
                                    <label for="bouy-name" class="input-group-addon">End Bouy</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-xs-12">
                        <div id="sigma-canvas" class="map"></div>
                    </div>
                    <div class="col-md-5 col-xs-12 functions">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span ng-show="!planner.paths.length && !planner.calculating">Select a start and end bouy</span>
                                <span ng-show="planner.paths.length && !planner.selectedPath">(Found {{planner.paths.length}} paths) {{planner.findAllPathsTime}} ms</span>
                                <span ng-show="planner.calculating">searching...</span>
                                <button class="btn-xs btn-warning"
                                    ng-show="planner.selectedPath"
                                    ng-click="planner.onDeselectPath()">Deselect</button>
                            </div>
                            <div class="planner panel-body">
                        <div ng-hide="planner.selectedPath">
                            <div class="pre-scrollable">
                                <table class="col-md-12 col-xs-12 table-striped table-bordered table-condensed table-hover"
                                    ng-show="planner.paths && planner.paths.length">
                                    <thead>
                                        <tr>
                                            <th>Miles</th>
                                            <th>Time</th>
                                            <th>Knots</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="path in planner.paths"
                                            ng-mouseenter="planner.onHoverPathInList(path)"
                                            ng-mouseleave="planner.onHoverPathInList()"
                                            ng-click="planner.onClickPathInList(path)">
                                            <td>{{path.getLengthNauticalMiles() | number:2}}</td>
                                            <td>{{path.getTimeHours()}}
                                            <td>{{path.getSpeedKnots() | number:2}}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="planner.selectedPath">
                            <div class="pre-scrollable">
                                <table class="col-md-12 col-xs-12 table-striped table-bordered table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th>Leg</th>
                                            <th>Miles</th>
                                            <th>Hours</th>
                                            <th>Knots</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Total</th>
                                            <td>{{planner.selectedPath.getLengthNauticalMiles() | number:2}}</td>
                                            <td>{{planner.selectedPath.getTimeHours()}}</td>
                                            <td>{{planner.selectedPath.getSpeedKnots() | number:2}}</td>
                                        </tr>
                                        <tr ng-mouseenter="planner.onHoverLegInList(leg)"
                                            ng-mouseleave="planner.onHoverLegInList()"
                                            ng-click="planner.onClickPathInList(path)">
                                            <td>{{planner.selectedPath.edges[0].start.name}}</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr ng-repeat="leg in planner.selectedPath.edges"
                                            ng-mouseenter="planner.onHoverLegInList(leg)"
                                            ng-mouseleave="planner.onHoverLegInList()"
                                            ng-click="planner.onClickPathInList(path)">
                                            <td>{{leg.end.name}}</td>
                                            <td>{{leg.getLengthNauticalMiles() | number:2}}</td>
                                            <td>{{leg.getTimeHours()}}</td>
                                            <td>{{leg.getSpeedKnots() | number:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>